.section__clients {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  margin: -15px;
  display: flex;
  justify-content: center;
  //justify-content: space-between;
  flex-wrap: wrap;
}

.clients__item {
  margin: 15px;
  fill: $social;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(max-width:767px) {
    width: 210px;
  }
  @media screen and(min-width:768px) {
    width: 226px;
  }
  @media screen and(min-width:1200px) {
    width: 170px;
  }
}

.clients__link {
  fill: $social;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover,
.clients__item:focus,
.clients__link:hover,
.clients__link:focus {
  border-color: $accent-color;
  fill: $accent-color;
}
